<main>
    <div class="cartContainer" id={{cartId}}>
    <h1>Carrito de compras</h1>
    <div id="productsContainer">
        {{#each products}}
        <div class="productContainer" id={{this.productId._id}}>
            <div class="cartImageContainer">
                <p>img</p>
                {{!-- <img src="{{this.productId.thumbnail}}" alt=""> --}}
            </div>
            <p>Cod: {{this.productId.code}}</p>
            <p><strong> {{this.productId.title}}</strong></p>
            <h4>$ <span>{{this.productId.price}}</span></h4>
            <input type="number" name="quantity" min="1" max="100" value={{this.quantity}} class="quantity">
            <div class="buttonContainer">
                <button onclick="deleteProductFromCart()">Borrar Item</button>
            </div>
        </div>
        {{/each}}
        </div>
        <div class="totalContainer">
            <h3>Total de la compra:  $<span id="total"></span></h3>
        </div>
        <div class="finishButtonsContainer">
            <a href="/products">Agregar mas productos</a>
            <button id="purchaseButton" >Finalizar Compra</button>
        </div>
    </div>
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartView.Functions/getTotal.js" ></script>
<script src="/js/commonFunctions/fetch.js" ></script>
<script src="/js/cartView.Functions/cartView.socket.js" ></script>
<script src="/js/cartView.Functions/CRUD.productsFromCart.js" ></script>
<script src="/js/main.cartView.js"></script>