<div>
    <h1>{{title}}</h1>
    <h2>Los productos en existencia son:</h2>
    
    {{#if products}}
    <div class="pageCommander">
        {{#if hasPrevPage}}
            <a href="/products?newPage={{prevPage}}">Anterior</a>
        {{/if}}
        <span>{{page}}</span>
        {{#if hasNextPage}}
            <a href="/products?newPage={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
    <div id="productsContainer">
        {{#each products}}
        <div class="productContainer" id={{this._id}}>
            <h3>{{this.title}}</h3>
            <p>{{this.code}}</p>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <div class="buttonContainer">
               <a href="/products/{{this._id}}">Mas info</a>
            </div>
        </div>
        {{/each}}
    {{else}}
        <h2>No hay productos</h2>
    {{/if}}
    </div>
</div>
<script src="/js/home.js"></script>