<div>
    <h1>{{title}}</h1>
    <h2>Los productos en existencia son:</h2>
    <div id="productsContainer">
    {{#if products}}
        {{#each products}}
        <div class="productContainer" id={{this._id}}>
            <h3>{{this.title}}</h3>
            <p>{{this.code}}</p>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <div class="buttonContainer">
                <button id="addToCart">Agregar al Carrito</button>
            </div>
        </div>
        {{/each}}
    {{else}}
        <h2>No hay productos</h2>
    {{/if}}
    </div>
</div>
<script src="/js/home.js"></script>