<div>
    {{#if userNotExist}}
    <a href="/login" class="btn btn-outline-dark w-25 mt-3">Login</a>
    {{/if}}

    {{#if userName}}
    <a href="/api/sessions/logout" class="btn btn-outline-dark w-25 mt-3">Logout</a>
    {{/if}}

    <h1>Bienvenido {{userName}}</h1>
    
    {{#if userName}}
    <a href="/carts/{{cid}}"> Ver Carrito</a>
    {{/if}}

    {{#if products}}
    <h2>Los productos en existencia son:</h2>
    <div class="mainContainer">
        <form id="filter-form" class="filter">
            <h4>Filtrar por:</h4>
            <label for="category">Categoría: </label>
            <select name="category" id="categoryInput" class="filterInput">
                    <option value="">Todas las Categorías</option>
                        {{#each categories}}
                            <option value="{{this.categoryName}}">{{this.categoryName}}</option>
                        {{/each}}
            </select>
            <label for="sub-category">Sub Categoría:</label>
            <select name="sub-category" id="subCategories" class="filterInput">
                <option value="">Todas las Sub-categorías</option> 
            </select>
            <label for="brand">Marca:</label>
            <select name="brand" id="brandInput" class="filterInput">
                <option value="">Todas las marcas</option>
                {{#each brands}}
                    <option value="{{this.brandName}}">{{this.brandName}}</option>
                {{/each}}
            </select>
            <label for="order">Orden:</label>
            <select name="order" id="orderInput" class="filterInput">
                    <option value="">Seleccione orden</option>
                    <option value="high">Precio Mayor Primero</option>
                    <option value="low">Precio Menor Primero</option>
            </select>
            <label for="availability">Disponibilidad:</label>
            <select name="availability" id="availabilityInput" class="filterInput">
                <option value="">Todos los productos</option>
                    <option value="stock">En Stock</option>
                    <option value="withoutStock">Sin Stock</option>
            </select>
            {{!-- <button type="submit">Aplicar Filtro</button> --}}
        </form>
        <div class="pageAndProductsContainer">
            <div class="pageCommander">
            {{#if hasPrevPage}}
                <button id="prevPage" data-changePage={{prevPage}} >Anterior</button>
            {{/if}}
            <span>{{page}}</span>
            {{#if hasNextPage}}
                <button id="nextPage" data-changePage={{nextPage}} >Siguiente</button>
            {{/if}}
            </div>
            <div id="productsContainer">
                {{#each products}}
                <div class="productContainer" id={{this._id}}>
                    <h3>{{this.title}}</h3>
                    <p>{{this.code}}</p>
                    <p>{{this.description}}</p>
                    <p>{{this.price}}</p>
                    <div class="buttonContainer">
                    <a href="/products/{{this._id}}">Mas info</a>
                    </div>
                </div>
                {{/each}}
                </div>
            {{else}}
            <h2>No hay productos</h2>
        {{/if}}
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/commonFunctions/fetch.js" ></script>
<script src="/js/products.Functions/products.Functions.js" ></script>
<script src="/js/main.products.js"></script>