<main>
<div class="mainContainer">
<div>
    <h1>{{title}}</h1>
    <h2>Los productos en existencia son:</h2>
    
    <div id="productsContainer">
    
    {{#if products}}
        
        {{#each products}}
        <div class="productContainer" id={{this.id}}>
            <h3>{{this.title}}</h3>
            <p>{{this.code}}</p>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <div class="buttonContainer">
                <button id="borrar" onclick="borrar()">Borrar</button>
                <button id="actualizar" onclick="actualizar()">Actualizar</button>
            </div>
        </div>
        {{/each}}
    {{else}}
        <h2>No hay productos</h2>
    {{/if}}
    
    </div>
</div>
<div class="aside">
    <form {{!-- action="/api/upload/bdFile" method="POST" enctype="multipart/form-data" --}} id="formulario-cargaMasiva" class="formularios">
        <h4>Carga Masiva de Productos mediante excel:</h4>
        <input type="file" name="bdFile" placeholder="Inserte el archivo" required>
        <button type="submit">Agregar Productos</button>
    </form>
    <form id="formulario-producto" class="formularios">
        <h4>Formulario para agregar productos:</h4>
        <input type="text" name="title" placeholder="Nombre del producto" required>
        <input type="text" name="code" placeholder="Codigo del producto" required>
        <input type="text" name="category" placeholder="Categoría del producto" required>
        <input type="text" name="thumbnail" placeholder="Ruta de la foto" required>
        <input type="number" name="price" placeholder="Precio del producto" required>
        <input type="number" name="stock" placeholder="Stock del producto" required>
        <textarea name="description" placeholder="Descripción del producto"></textarea>
        <button type="submit">Agregar Producto</button>
    </form>
</div>
</div>
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>